<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A simple static blog page with features to add, edit, and delete text posts." />
    <meta name="author" content="Felipe Menezes" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Static Blog</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Static Blog</a></li>
          <li><a href="/">Home</a></li>
          <li>Total Posts: <%= posts.length %></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
