@media screen and (min-width: 900px) {
  main {
    width: 80%;
    margin: 0 auto;
  }

  .posts-container {
    width: 93%;
    display: grid;
    grid-template-rows: 300px;
    /* grid-auto-columns: minmax(300px, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
  }
}
